<nav class="navigation">
  <a href="/">
    <img class="navigation-logo"
          src="images/navigation-logo.png"
          srcset="images/navigation-logo@2x.png 2x,
                  images/navigation-logo@3x.png 3x"
          width="52"
          alt="Hummingbird Logo">
  </a>
  <div class="navigation-logotype">
    <a href="/">
      <h1>Hummingbird</h1>
      <h2>Programming Language</h2>
    </a>
  </div>
  <ul class="navigation-list">
    {% for node in site.pages %}
      {% if page.url == node.url  %}
        <li class="navigation-listItem navigation-listItem--active"><a href="{{node.url}}">{{node.title}}</a></li>
      {% else %}
        <li class="navigation-listItem"><a href="{{node.url}}">{{node.title}}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
