{% capture full_title %}
  {% if page.title %}
    {{ page.title }} - Hummingbird
  {% else %}
    Hummingbird
  {% endif %}
{% endcapture %}
<html>
  <head>
    <title>{{ full_title | strip_newlines }}</title>
    <script src="//use.typekit.net/wgg2krg.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <link rel="stylesheet" href="{{ site.baseurl }}/highlight.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css?v3">
  </head>
  <body>
    <div class="wrap">
      {% include navigation.html %}
      {{ content }}
      {% include footer.html %}
    </div>
    {% include metrics.html %}
  </body>
</html>
